@model IEnumerable<PuzzleQuestWeb.Models.UserQuest>

@{
    ViewBag.Title = "Quest History";
}

<h2>Quest History</h2>
<p>
You have no currently active PuzzleQuests. Here is a list of your previously completed quests.
</p>

<table>
    <tr>
        <th>
            Quest Name
        </th>
        <th>
            Status
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.QuestName, "QuestDetails", new { id = item.QuestId }) |
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestStatusText)
        </td>
    </tr>
}

</table>
