@{
    ViewBag.Title = "Pending";
}

<h2>Your Quest Is Not Yet Ready</h2>

<p>Your quest has not yet been activated by the PuzzleMaster. You will be notified when your quest is ready to proceed.</p>
